{
    "extends": ["wesbos"],
    "rules": {
        "comma-dangle": ["error", "only-multiline"],
        "no-console": 1,
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4
            }
        ]
    }
}
